.container {
    width: 100%;
    padding: 20px;
}

.timetable-img img {
    max-width: 100%;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-sky {
    background-color: #00aaff;
    color: #ffffff;
}

.bg-green {
    background-color: #00cc66;
    color: #ffffff;
}

.bg-yellow {
    background-color: #ffcc00;
    color: #ffffff;
}

.bg-purple {
    background-color: #9900cc;
    color: #ffffff;
}

.bg-pink {
    background-color: #ff99cc;
    color: #ffffff;
}

.bg-lightred {
    background-color: #ff6666;
    color: #ffffff;
}

.event {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.event-details {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

/* order.css */
.event-cell {
    vertical-align: top;
    padding: 10px;
}

.event {
    background-color: #87CEEB;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.event-details {
    font-size: 0.9em;
    margin-top: 2px;
}

.suggestions-list {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    max-height: 200px; /* Limit height */
    overflow-y: auto; /* Scroll if too many items */
    background-color: #fff;
}

/* Styles for individual suggestion items */
.suggestions-list li {
    padding: 10px; /* Add padding for better spacing */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}

.suggestions-list li:hover {
    background-color: #f0f0f0; /* Change color on hover */
}

.table td {
    width: 200px;
    height: 70px;
    max-height: 105px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

