.custom-button {
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}
.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
}

.content-column {
    padding-left: 1rem;
}